/* ----------------------------------------
   utilities 
   ---------------------------------------*/

/* clear fix */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.container {
    zoom:1;
}

/* ----------------------------------------
   typography 
   ---------------------------------------*/
h1 {
}


/* ----------------------------------------
   begin of page styles 
   ---------------------------------------*/

html  {
  padding: 0px;
  margin: 0px;
  font-family: "helvetica", arial, sans-sarif;
  background: #212121; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #383838 31%, #0a0a0a 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(31%,#212121), color-stop(100%,#0a0a0a)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #383838 31%,#0a0a0a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #313131 31%,#0a0a0a 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #313131 31%,#0a0a0a 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover, #313131 31%,#0a0a0a 100%); /* W3C */
}

body { 
  padding: 0px;
  margin: 0px;
}


/* ----------------------------------------
   header 
   ---------------------------------------*/
header {
  background-color: #222;
  margin-bottom: 40px;
}

header #brand {
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1.00);
  padding: 10px;
  margin: 0px;
  float: left;
}

header #join, header #joined {
  color: #fff;
  float: right;
  padding: 10px;
  background: #338;
  border-radius: 4px;
  margin: 5px;
}

header #joined {
  display: none;
}

header #joined #joined-name {
}

header #joined a, a:visited {
  color: #77a;
}
/* ----------------------------------------
   .world-section
   ---------------------------------------*/
.world-section {
  float: left;
  width: 65%;
  margin: 0px;
}

.world-section .icon {
  position: absolute; 
  display: inline-block;
  padding: 5px;
  background-color: white;
  border-radius: 3px;
}

.world-section #board {
  position: relative;
  top: -274px;
}

.world-section .main {
  width: 500px;
  height: 500px;
  background: #555;
  margin: 0 auto;
  margin-top: 30px;
  border: #222 solid 10px;
  text-align: center;
  overflow: hidden;
  
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  background-size: 20px 20px; /* Controls the size of the stripes */    
  
  background-color: #555;
 /* background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, transparent), color-stop(.5, rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .1))),
            -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, transparent), color-stop(.5, rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .1)));i*/
  background-image: -webkit-linear-gradient(transparent 95%, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1)),
              -webkit-linear-gradient(0deg, transparent 95%, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1));
}

.world-section .main .watermark {
  font-size: 60px;
  padding-top: 205px;
  color: rgba(0,0,0,0.1);
}


/* ----------------------------------------
   .chat-section
   ---------------------------------------*/

.chat-section {
  float: right;
  width: 35%;
  min-width: 300px;
}

.chat-section #chat-title{
  color: #222;
  font-size: 16px;
  height: 30px;
}

.chat-section #chat-log {
  border: #222 solid 10px;
  padding: 10px;
  height: 420px;
  width: auto;
  background-color: #000;
  overflow-y: scroll;
  color: #fff;
}

.chat-section #chat-log .msg {
  color: #ddd;
}
.chat-section #chat-log span {
}

.chat-section #chat-controls {
  background: #222;
  padding: 10px; 
}

.chat-section #chat-controls #chat-msg {
  width: 200px;
}

.chat-section #chat-controls #send-chat-msg {
}


/* ----------------------------------------
   footer 
   ---------------------------------------*/
